@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-size: cover;
    font-family: 'Press Start 2P', sans-serif;
    color: yellow;
    overflow: hidden;
}
